<%= link_to 'Return to Volunteer List', :action => :index, :search=> params['search'] %>
<br /><br />

<h1><%= @volunteer.fullname.titlecase %> (#<%= @volunteer.id %>)</h1>
<br />


<h3>Volunteer Information</h3>

<p>
Surveys completed: <%= @volunteer_surveys.length %>, 
Birds found: <%= @bird_count %>
</p>

<p>
<% if @volunteer.email? %>
<b>Email:</b> <%= mail_to @volunteer.email %><br />
<% end %>
<% if @volunteer.phone? %>
<b>Phone:</b> <%= @volunteer.phone_formatted %><br />
<% end %>
<% if @volunteer.street_address or @volunteer.city or @volunteer.zip %>
  <b>Address:</b><br />
<div style="padding-left: 5px; border-left: 2px solid grey;">
  <% if @volunteer.street_address? %>
    <%= @volunteer.street_address %><br />
  <% end %>
  <% if @volunteer.city? and not @volunteer.state_id? %>
    <%= @volunteer.city %>
  <% elsif @volunteer.city? and @volunteer.state_id? %>
    <%= @volunteer.city %>, <%= @volunteer.state.prefix %>
  <% end %>
  <% if @volunteer.zip? %>
    <%= @volunteer.zip %>
  <% end %>
</div>
<% end %>
<b>Status:</b> <%= @volunteer.status%><br />
</p>

<h3>Volunteer Surveys</h3>

<% if @volunteer_surveys.length == 0 %>
  <p>No surveys found for this volunteer.</p>

<% else %>

<p>Need to add birds to an existing survey?  Select the bird:</p>
  <table class="sortable ruled">
    <tr>
      <th ><%=h('Date') %></th>
      <th class="sortable"><%=h('Duration') %> (Min)</th>
      <th class="sortable"><%=h('Beach') %></th>
      <th><%=h('Birds Found') %></th>
    </tr>

  <% for s in @volunteer_surveys %>
    <tr>
      <td>
       <% if s.verified? %>
         <%= image_tag "icons/accept.png", :alt => "survey is verified" %>
       <% end %>
       <%=link_to s.survey_date, :controller => :survey, :action => :show, :id => s.id %>
      </td>
      <td align="right"><%=h s.duration %></td>
      <td class="sidepad right">
          <%=h s.beach.name %>
        </td>
      <td align="right">
        <% for bird in s.birds %>
          <%= render :partial => 'data/bird_name', :locals => {:bird => bird, :hide_link => true} %>
          <%= image_tag "icons/bird_silhouette.png" %><br />
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
