<% if role == 'admin' %>
  <p><span style="float: left; width: 135px"><label for="bird_tie_number">Tie Number</label>:</span>
    <%= f.text_field :tie_number, :size => 3 %>
  </p>
<% else %>
  <p><label for="bird_tie_color_closest">Tie color closest to heart</label><br/>
  <%= f.select :tie_color_closest, Bird::TieColors %></p>

  <p><label for="bird_tie_color_middle">Tie color middle</label><br/>
  <%= f.select :tie_color_middle, Bird::TieColors %></p>

  <p><label for="bird_tie_color_farthest">Tie color farthest from heart</label><br/>
  <%= f.select :tie_color_farthest, Bird::TieColors %></p>
<% end %>

<p><label for="bird_tie_location">Tie location</label><br/>
<% Bird::TieLocation.each do |w| %>
  <% status = (w[0] == 'Multiple') ? 'Down' : 'Up' %>
  <%=f.radio_button :tie_location, w[1], :onclick => "Effect.Blind#{status}('tie-data', {queue: 'end'})" %> <%=w[0]%>
<% end %>
</p>

<% if @bird.tie_location == "Multiple" %>
  <div id="tie-data" class="slideout-container">
<% else %>
  <div id="tie-data" class="slideout-container" style="display: none;">
<% end %>
  <div class="slideout">
    <p><label for="bird_tie_location_comment">Tie location: Please tell us where you tagged it</label><br/>
    <%= f.text_area :tie_location_comment, :cols=>60, :rows=>4  %></p>
  </div>
</div>
